<!DOCTYPE html>
<html>
<head>
  <title>Google</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div class="container">
    <header>
      <img src="/images/google_logo.png" alt="Google Logo">
      <form action="search" method="get">
        <input type="text" name="q" placeholder="Pesquisar">
        <button type="submit">Pesquisar</button>
      </form>
    </header>

    <footer>
      <ul>
        <li><a href="#">Publicidade</a></li>
        <li><a href="#">Negócios</a></li>
        <li><a href="#">Sobre</a></li>
      </ul>
    </footer>
  </div>
</body>
</html>